html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.head {
  display: flex;
  background-color: #d05c2e;
  color: #fff;
  flex-wrap: wrap;
  flex-direction: column;
}

.grains {
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

nav ol {
  list-style-type: none;
  font-size: 1.125rem;
}

ol {
  display: flex;
}

img {
  width: 40px;
}
